<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="HttpPrefix" value="http://localhost:1123/captureCard/heartBeat/;http://127.0.0.1:1123/captureCard/heartBeat/"/>
    <add key="ClientApp" value="D:\SinoCloud\tsw2\x64\Release\SCW_XICapture_2.exe"/>
    <add key="TimeSpanMultiple" value="2"/>
   </appSettings>
</configuration>